<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <!--<div class="row">
      <div class="col">
        <label for="firstName">First Name:</label>
        <input class="form-control form-control-sm" type="text" idToDelete="firstName" formControlName="firstName">
      </div>
      <div class="col">
        <label for="lastName">Last name:</label>
        <input class="form-control form-control-sm" type="text" idToDelete="lastName" formControlName="lastName">
      </div>
    </div>

    <label for="companyName">Company Name:</label>
    <input class="form-control form-control-sm" type="text" idToDelete="companyName" formControlName="companyName">

    <label for="address">Address:</label>
    <input class="form-control form-control-sm" type="text" idToDelete="address" formControlName="address">

    <div class="row">
      <div class="col">
        <label for="phoneNumber">Phone Number:</label>
        <input class="form-control form-control-sm" type="text" idToDelete="phoneNumber" formControlName="phoneNumber">
      </div>
      <div class="col">
        <label for="nip">NIP:</label>
        <input class="form-control form-control-sm" type="text" idToDelete="nip" formControlName="nip">
      </div>
    </div>
    <label for="email">Email:</label>
    <input class="form-control form-control-sm" type="text" idToDelete="email" formControlName="email">-->

    <label for="customer">Customer:</label>
    <select id="customer" formControlName="customer">
      <option *ngFor="let customer of customerList" [value]="customer">{{customer.companyName +
      ' ' + customer.firstName + ' ' + customer.lastName}}</option>
    </select>

    <div>
      <p>
        <button type="submit">Add order</button>
        <button type="reset">Reset</button>
      </p>
    </div>

  </div>
</form>

