<div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="getProducts()">Show all products</button>
    <button (click)="addProductForm()">Add new product</button>
  </div>
</div>
<div *ngIf="showProductForm">
  <app-products-edit (eventForm)="hideForm($event)"
                     [initProduct]="productToEdit" [products_group]="productsGroup"
                     [suppliers]="suppliers"></app-products-edit>
</div>
<div>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th class="tabHeader" scope="col" (click)="sortThisColum('assort_index', howSort)">Lp <i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('assort_index', howSort)">Indeks<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('name', howSort)">Name<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('unitOfMasure', howSort)">j.m<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('product_group', howSort)">Group<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('stock', howSort)">Stock<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('price', howSort)">Price<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('supplier', howSort)">Supplier<i *ngIf="howSort===true" class="fa fa-sort-desc"></i><i *ngIf="howSort===false" class="fa fa-sort-asc"></i></th>
      <th class="tabHeader" scope="col"></th>
      <th class="tabHeader" scope="col"></th>
    </tr>
    </thead>
    <tbody id="searched_table">
    <tr (click)="editProduct(product)"
        *ngFor="let product of products | sortIndex: sortedColumn:howSort; let i = index;">
      <td style="text-align: center">{{i+1}}</td>
      <td>{{product.assort_index}}</td>
      <td>{{product.name}}</td>
      <td style="text-align: center">{{product.unitOfMasure}}</td>
      <td style="text-align: center">{{productsGroup[product.product_group-1].name}}</td>
      <td style="text-align: right">{{product.stock}}</td>
      <td style="text-align: center">{{product.price.toFixed(2) | transformPrice:'zł'}}</td>
      <td style="text-align: center">{{suppliers[product.supplier-1].name}}</td>
      <td>
        <button (click)="editProduct(product)">Edit</button>
      </td>
      <td>
        <button [routerLink]="[product.id]">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


