<div>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th class="tabHeader" scope="col">Lp</th>
      <th class="tabHeader" scope="col">Indeks</th>
      <th class="tabHeader" scope="col">Name</th>
      <th class="tabHeader" scope="col">j.m</th>
      <th class="tabHeader" scope="col">Group</th>
      <th class="tabHeader" scope="col">Stock</th>
      <th class="tabHeader" scope="col">Price</th>
      <th class="tabHeader" scope="col">Supplier</th>
      <th class="tabHeader" scope="col"></th>
      <th class="tabHeader" scope="col"></th>
    </tr>
    </thead>
    <tbody id="searched_table">
    <tr *ngFor="let product of products | sortIndex: 'name'; let i = index;">
      <td style="text-align: center">{{i+1}}</td>
      <td>{{product.assort_index}}</td>
      <td>{{product.name}}</td>
      <td style="text-align: center">{{product.unitOfMasure}}</td>
      <td style="text-align: center">{{product.product_group}}</td>
      <td style="text-align: right">{{product.stock}}</td>
      <td style="text-align: center">{{product.price.toFixed(2) | transformPrice:'zł'}}</td>
      <td style="text-align: center">{{product.supplier}}</td>
      <td>
        <button [routerLink]="edit/[product]">Edit</button>
      </td>
      <td>
        <button [routerLink]="[product.id]">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <button (click)="getProducts()">Show all products</button>
  <app-products-add></app-products-add>
</div>


