<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="firstName">First Name:</label>
        <input class="form-control form-control-sm" type="text" id="firstName" formControlName="firstName">
      </div>
      <div class="col">
        <label for="lastName">Last name:</label>
        <input class="form-control form-control-sm" type="text" id="lastName" formControlName="lastName">
      </div>
    </div>

    <label for="companyName">Company Name:</label>
    <input class="form-control form-control-sm" type="text" id="companyName" formControlName="companyName">

    <label for="address">Address:</label>
    <input class="form-control form-control-sm" type="text" id="address" formControlName="address">

    <div class="row">
      <div class="col">
        <label for="phoneNumber">Phone Number:</label>
        <input class="form-control form-control-sm" type="text" id="phoneNumber" formControlName="phoneNumber">
      </div>
      <div class="col">
        <label for="nip">NIP:</label>
        <input class="form-control form-control-sm" type="text" id="nip" formControlName="nip">
      </div>
    </div>
    <label for="email">Email:</label>
    <input class="form-control form-control-sm" type="email" id="email" formControlName="email">

    <label for="customerType">Customer Type:</label>
    <select id="customerType" formControlName="customerType">
      <option *ngFor="let type of customerTypes" [value]="type">{{type}}</option>
    </select>

    <ng-container
      *ngIf="initCustomer.id; then editButton; else addButton">
    </ng-container>
    <p>
      <ng-template #editButton>
        <button type="submit" (click)="editCustomer()">Edit customer</button>
      </ng-template>

      <ng-template #addButton>
        <button type="submit">Add customer</button>
      </ng-template>

      <button type="reset">Reset</button>
      <button (click)="cancel()">Cancel</button>
    </p>

  </div>
</form>

