<ul class="nav nav-tabs" >
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/orders">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/customers">Customers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/login">Log in</a>
  </li>
</ul>
<div><p></p></div>

<!--<div>
  <input [(ngModel)]="twoWayBinding">
  {{twoWayBinding}}
</div>-->
<router-outlet></router-outlet>
