<div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="getSuppliers()">Show all suppliers</button>
    <button (click)="addSupplierForm()">Add new supplier</button>
  </div>
</div>

<div *ngIf="showSuppliersForm">
  <app-suppliers-edit (eventForm)="hideForm($event)"
                      [initSupplier]="supplierToEdit"></app-suppliers-edit>
</div>
<div>
  <!--<app-suppliers-delete (eventForm)="hideDel($event)"></app-suppliers-delete>-->
  <router-outlet></router-outlet>
</div>

<div>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th class="tabHeader" scope="col" (click)="sortThisColum('name')">Lp<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('name')">Name<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('nip')">NIP<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('city')">City<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('street')">Street<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('street_number')">Nr<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('post_code')">Post Code<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('phone_number')">Phone<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('email')">Email<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col" (click)="sortThisColum('www')">WWW<i class="fa fa-sort-desc"></i></th>
      <th class="tabHeader" scope="col"></th>
      <th class="tabHeader" scope="col"></th>
    </tr>
    </thead>
    <tbody id="searched_table">
    <tr (click)="editSupplier(supplier)" *ngFor="let supplier of suppliers | sortIndex: sortedColumn; let i = index;">
      <td style="text-align: center">{{i+1}}</td>
      <td>{{supplier.name}}</td>
      <td>{{supplier.nip}}</td>
      <td style="text-align: left">{{supplier.city}}</td>
      <td style="text-align: right">{{supplier.street}}</td>
      <td style="text-align: left">{{supplier.street_number}}</td>
      <td style="text-align: center">{{supplier.post_code}}</td>
      <td style="text-align: center">{{supplier.phone_number}}</td>
      <td style="text-align: left">{{supplier.email}}</td>
      <td style="text-align: left">{{supplier.www}}</td>
      <td>
        <button (click)="editSupplier(supplier)">Edit</button>
      </td>
      <td>
        <button [routerLink]="[supplier.id]">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
