<h4>Edit products:</h4>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <!--<div style="display: inline-grid; margin: 10px">-->
  <div class="form-group">
    <!--<label for="id">Id</label><input type="text" id="id" formControlName="id">-->
    <div class="row">
      <div class="col">
        <label for="assort_index">Index</label>
        <input class="form-control form-control-sm" type="text" id="assort_index" formControlName="assort_index"></div>
      <div class="col">
        <label for="name">Name</label>
        <input class="form-control form-control-sm" type="text" id="name" formControlName="name"></div>
    </div>
    <div class="row">
      <div class="col">
        <label for="product_group">product group</label>
        <!--<input class="form-control form-control-sm" type="text" id="product_group" formControlName="product_group">-->
        <select class="form-control form-control-sm" id="product_group" formControlName="product_group">
          <option *ngFor="let group of products_group" [value]="group.id">{{group.name}}</option>
        </select>
      </div>
      <div class="col">
        <label for="barcode">barcode</label>
        <input class="form-control form-control-sm" type="text" id="barcode" formControlName="barcode">
      </div>
      <div class="row">
        <div class="col">
          <label for="unitOfMasure">jm</label>
          <select class="form-control form-control-sm" id="unitOfMasure" formControlName="unitOfMasure">
            <option *ngFor="let unitOf of unitOfMass" [value]="unitOf">{{unitOf}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <label for="weight_unit">weight of unit</label>
        <input class="form-control form-control-sm" type="text" id="weight_unit" formControlName="weight_unit">
      </div>
      <div class="col">
        <label for="package_unit">package_unit</label>
        <select class="form-control form-control-sm" id="package_unit" formControlName="package_unit">
          <option *ngFor="let p_unit of package_units" [value]="p_unit">{{p_unit}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="number_in_package">number in package</label>
        <input class="form-control form-control-sm" type="text" id="number_in_package"
               formControlName="number_in_package"></div>
      <div class="col">
        <label for="height">height</label>
        <input class="form-control form-control-sm" type="text" id="height" formControlName="height"></div>
      <div class="col">
        <label for="weight">weight</label>
        <input class="form-control form-control-sm" type="text" id="weight" formControlName="weight"></div>
      <div class="col">
        <label for="length">length</label>
        <input class="form-control form-control-sm" type="text" id="length" formControlName="length"></div>
    </div>
    <div class="row">
      <div class="col">
      <label for="supplier">Supplier</label>
      <input class="form-control form-control-sm" type="text" id="supplier" formControlName="supplier">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="stock">stock</label>
        <input class="form-control form-control-sm" type="text" id="stock" formControlName="stock">
      </div>
      <div class="col">
        <label for="price">Price</label>
        <input class="form-control form-control-sm" type="text" id="price" formControlName="price">
      </div>
      <div class="col">
        <label for="vat">Vat</label>
        <select class="form-control form-control-sm" id="vat" formControlName="vat">
          <option *ngFor="let vat of vats" [value]="vat">{{vat}}</option>
        </select>
      </div>
    </div>
    <ng-container
      *ngIf="initProduct.id; then editProductButton; else addProductButton">
    </ng-container>

    <ng-template #editProductButton>
      <p>
        <button type="submit">Edit product</button>
        <button type="reset">Reset</button>
      </p>
    </ng-template>
    <ng-template #addProductButton>
      <p>
        <button type="submit">Add product</button>
        <button type="reset">Reset</button>
      </p>
    </ng-template>
  </div>
</form>
